body{
    margin: 0;
    height: 1000vh;
    background-color: rgb(39, 38, 38);
    color: rgb(216, 216, 216);

}

.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 50%;
    position: absolute;

}
